.burger-button {
  display: none;
}

.logo {
  text-align: left;
  width: auto;
}

.menu {
  height: inherit;
  width: auto;
}

.header {
  font-size: 16.6px;
}

.header ol {
  display: flex;
  height: inherit;
  flex-direction: row;
}

.header ol li {
  height: inherit;
  text-align: center;
  width: auto;
}

.header a {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  justify-content: center;
}

.hero {
  font-size: 16.6px;
}

.hero .container {
  width: 90%;
}

.hero__titulo {
  width: 50%;
  background-color: transparent;
}

.hero-inmage__container {
  position: static;
  width: 45%;
}

.hero-image {
  object-fit: cover;
  /* width: 50%; */
  height: auto;
  /* padding: 2rem; */
}

.project {
  font-size: 16.4px;
}

.project-details {
  width: 50%;
  text-align: justify;
  margin-right: 2rem;
}

.project-image {
  width: 100%;
  text-align: center;
}

.project-imageContainer {
  width: 45%;
}

.event {
  width: 40%;
  font-size: 16.6px;
}

.social {
  width: auto;
  margin-bottom: 0;
}

.form-email {
  width: 50%;
}

.form-email input {
  width: 75%;
  display: inline;
  margin-right: 0.5rem;
}

.form-email button {
  width: 22%;
  /* padding: 1rem 3rem; */
  display: inline;
}

.footer>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .description {
  text-align: end;
  width: auto;
}

.copyright {
  width: auto;
  text-align: end;
}