.header {
    font-size: 16.8px;
}

.hero {
    align-items: center;
    justify-content: space-between;
    font-size: 16.8;
}

.hero-inmage__container {
    width: 35%;
}


.hero-image {
    padding: 2rem;
}

.project {
    font-size: 16.8px;
}

.event {
    font-size: 16.8px;
}